/COMP376-Project/Library
/COMP376-Project/Logs
/COMP376-Project/Packages
/COMP376-Project/Temp
/COMP376-Project/obj
/COMP376-Project/*.csproj
/COMP376-Project/*.sln
/COMP376-Project/.vs
/Documentation/*.aux
/Documentation/*.log
/Documentation/*.gz
/Documentation/MeetingSummaries/*.aux
/Documentation/MeetingSummaries/*.log
/Documentation/MeetingSummaries/*.gz
/Documentation/GameDesignDocument/*.aux
/Documentation/GameDesignDocument/*.log
/Documentation/GameDesignDocument/*.gz
/Build